.bodykonsultasi {
    animation: fade-in 2s;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.stylekonsultasi {
    color: black;
}

.stylerscabang {
    color: black;
}

.navigation {
    background-color: white;
}

.nav-item {
    font-size: 20px;
    color: black;
}

