<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form Pendaftaran Administrator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 
</head>

<body style="padding: 20px;">
	<div class = "bodykonsultasi">

		<div class="col-12 justify-content-center">
			<h1 class="d-flex justify-content-center">FORM PENDAFTARAN ADMINISTRATOR</h1> 
			<div class="text-center mt-4">
				<form method="POST" class="post-form">
					{% csrf_token %}
					{{ form.as_p }}
					<button id="submit" class="btn btn-outline-dark btn-lg">DAFTAR</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>