<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form Pendaftaran Administrator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 
</head>


<body>
    <div class="jumbotron">
        <h1 class="d-flex justify-content-center">Selamat Datang, Pasien!</h1>
        <h2>PROFILE</h2>
        <a class="btn btn-primary" href="/profile/">Profil</a>
        <h2>DAFTAR SESI KONSULTASI</h2>
        <a class="btn btn-primary" href="/daftarkonsultasi">Daftar Sesi Konsultasi</a>
        <h2>DAFTAR TINDAKAN POLIKLINIK</h2>
        <a class="btn btn-primary" href="/daftartpoli/">Daftar Tindakan Poliklinik</a>
        <h2>DAFTAR TINDAKAN</h2>
        <a class="btn btn-primary" href="/daftartindakan/">Daftar Tindakan</a>
        <h2>DAFTAR RESEP</h2>
        <a class="btn btn-primary" href="#">Daftar Resep</a>
        <h2>DAFTAR OBAT</h2>
        <a class="btn btn-primary" href="#">Daftar Obat</a>
        <h2>RS CABANG</h2>
        <a class="btn btn-primary" href="/daftarrscabang">Daftar RS Cabang</a>
        <a class="btn btn-primary" href="/daftarrscabang/">Daftar Dokter RS Cabang</a>
        <h2>DAFTAR LAYANAN</h2>
        <a class="btn btn-primary" href="/layanan-jadwal-poli/">Daftar Layanan</a>
        <h2>DAFTAR TRANSAKSI</h2>
        <a class="btn btn-primary" href="/transaksi/">Daftar Transaksi</a>
        <h2>LOGOUT</h2>
        <a class="btn btn-primary" href="/logout/">Logout</a>
    </div>
</body>