<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form Sesi Konsultasi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 



	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="padding: 20px;">
	<div class = "bodykonsultasi">

		<nav class="navbar navbar-expand-sm navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:konsultasi' %}">Buat Sesi Konsultasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:rscabang' %}">Buat RS Cabang</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarkonsultasi' %}">Daftar Sesi Konsultasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarrscabang' %}">Daftar RS Cabang</a>
				</li>
            </ul>
        </nav>

		<div class="col-12 justify-content-center">
			<h1 class="d-flex justify-content-center">FORM RESERVASI SESI KONSULTASI</h1> 
			<div class="text-center mt-4">
				<form method="POST" class="post-form">
					{% csrf_token %}
					
					<label for="no_rekam_medis_pasien">No Rekam Medis:</label>
					<select id="no_rekam_medis_pasien" name="no_rekam_medis_pasien">
						<option value="none">none</option>
						{% for item in data1 %}
						<option value={{item.no_rekam_medis_pasien}}>{{item.no_rekam_medis_pasien}}</option>
						{% endfor %}
					</select>

					<label for="tanggal">Tanggal:</label>
					{{ form.tanggal }}

					<label for="id_transaksi">ID Transaksi:</label>
					<select id='id_transaksi' name="id_transaksi">
						<option value="none">none</option>
						{% for item in data2 %}
						<option value={{item.id_transaksi}}>{{item.id_transaksi}}</option>
						{% endfor %}
					</select>

					<button id="submit" class="btn btn-outline-dark btn-lg">SUBMIT</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>


