<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Daftar Sesi Konsultasi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 
</head>

<body style="padding: 20px;">
	<div class = "bodykonsultasi">

        <nav class="navbar navbar-expand-sm navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:konsultasi' %}">Buat Sesi Konsultasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:rscabang' %}">Buat RS Cabang</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarkonsultasi' %}">Daftar Sesi Konsultasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarrscabang' %}">Daftar RS Cabang</a>
				</li>
            </ul>
        </nav>
        
		<div class="col-12 justify-content-center">
			<h1 class="d-flex justify-content-center">SESI KONSULTASI</h1> 
        
            <div class="table-responsive my-8 px-4 py-2">
                <table class="table table-active table-striped table_custom">
                  <thead>
                    <tr>
                        <th scope="col" class="header one">ID Konsultasi</th>
                        <th scope="col" class="header two">Nomor Pasien</th>
                        <th scope="col" class="header three">Tanggal</th>
                        <th scope="col" class="header four">Biaya</th>
                        <th scope="col" class="header five">Status</th>
                        <th scope="col" class="header six">ID Transaksi</th>
                        <th scope="col" class="header seven">Action[admin]</th>

                    </tr>
                  </thead>
                  <tbody>
                      {% for isi in data %}
                      <tr>
                        <td class="stylekonsultasi">{{ isi.id_konsultasi }}</td>
                        <td class="stylekonsultasi">{{ isi.no_rekam_medis_pasien }}</td>
                        <td class="stylekonsultasi">{{ isi.tanggal }}</td>
                        <td class="stylekonsultasi">{{ isi.biaya }}</td>
                        <td class="stylekonsultasi">{{ isi.status }}</td>
                        <td class="stylekonsultasi">{{ isi.id_transaksi }}</td>
                        <td class="stylekonsultasi">
                            <a class="btn btn-primary" href="/updatekonsultasi/{{ isi.id_konsultasi }}">Update</a>
                            <a class="btn btn-primary" href="/deletekonsultasi/{{ isi.id_konsultasi }}">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
          
                </table>
            </div>

		</div>

	</div>
</body>
</html>