<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 
</head>

<body>
    <div class="jumbotron jumbotron-fluid d-flex" style="background-color:white;width:30%;margin-left:36%; margin-top:14%;border-radius: 30%;">
        <div class="container" style="text-align: center;">
            <form method="POST">
                {% csrf_token %}
                <h1 class="display-8">Form Login</h1>

                <p class="lead">Username:</p>
                <input type="text" name="username" class="form-control input_user" value="" placeholder="username">
                <p class="lead">Password:</p>
                <input type="password" name="password" class="form-control input_pass" value="" placeholder="password">

                <div class="text-center mt-4">
                    <button id="submit" class="btn btn-outline-dark btn-lg">LOGIN</button>
                </div>
            </form>
            {% if error %}
            <div class="alert alert-warning alert-dismissible">
                <strong>Warning!</strong> {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
</body>