<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>RS Cabang</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 
</head>

<body style="padding: 20px;">
	<div class = "bodykonsultasi">

        <nav class="navbar navbar-expand-sm navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:konsultasi' %}">Buat Sesi Konsultasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:rscabang' %}">Buat RS Cabang</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarkonsultasi' %}">Daftar Sesi Konsultasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarrscabang' %}">Daftar RS Cabang</a>
				</li>
            </ul>
        </nav>
        
		<div class="table-responsive my-8 px-4 py-2">
            <table class="table table-active table-striped table_custom">
              <thead>
                <tr>
                    <th scope="col" class="header one">Kode RS</th>
                    <th scope="col" class="header two">Nama</th>
                    <th scope="col" class="header three">Tanggal Pendirian</th>
                    <th scope="col" class="header four">Jalan</th>
                    <th scope="col" class="header five">Kota</th>
                    <th scope="col" class="header six">Nomor</th>
                    <th scope="col" class="header seven">Action[admin]</th>

                </tr>
              </thead>
      
              <tbody>
                {% for isi in data %}
                <tr>
                  <td class="stylerscabang">{{ isi.kode_rs }}</td>
                  <td class="stylerscabang">{{ isi.nama }}</td>
                  <td class="stylerscabang">{{ isi.tanggal_pendirian }}</td>
                  <td class="stylerscabang">{{ isi.jalan }}</td>
                  <td class="stylerscabang">{{ isi.kota }}</td>
                  <td class="stylerscabang">{{ isi.nomor }}</td>
                  <td class="stylerscabang">
                      <a class="btn btn-primary" href="/updaterscabang/{{ isi.kode_rs }}">Update</a>
                        <a class="btn btn-primary" href="/deleterscabang/{{ isi.kode_rs }}">Delete</a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>

            </table>
        </div>
	</div>
</body>
</html>