<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Form Pembuatan RS Cabang</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 
</head>

<body style="padding: 20px;">

	<nav class="navbar navbar-expand-sm navigation">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'konsultasicabang:konsultasi' %}">Buat Sesi Konsultasi</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'konsultasicabang:rscabang' %}">Buat RS Cabang</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'konsultasicabang:daftarkonsultasi' %}">Daftar Sesi Konsultasi</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'konsultasicabang:daftarrscabang' %}">Daftar RS Cabang</a>
			</li>
		</ul>
	</nav>


	<div class = "bodykonsultasi">
		
		<div class="col-12 justify-content-center">
			<h1 class="d-flex justify-content-center">FORM PEMBUATAN RS CABANG</h1> 
			<div class="text-center mt-4">
				<form method="POST" class="post-form">
					{% csrf_token %}
					{{ form.as_p }}
					<button id="submit" class="btn btn-outline-dark btn-lg">SUBMIT</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>