<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Update Sesi Konsultasi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/konsultasi.css' %}"> 



	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="padding: 20px;">
	<div class = "bodykonsultasi">

		<nav class="navbar navbar-expand-sm navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:konsultasi' %}">Buat Sesi Konsultasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'konsultasicabang:rscabang' %}">Buat RS Cabang</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarkonsultasi' %}">Daftar Sesi Konsultasi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'konsultasicabang:daftarrscabang' %}">Daftar RS Cabang</a>
				</li>
            </ul>
        </nav>

		<div class="col-12 justify-content-center">
			<h1 class="d-flex justify-content-center">UPDATE RESERVASI SESI KONSULTASI</h1> 
			<div class="text-center mt-4">
				<form method="POST" class="post-form">
					{% csrf_token %}
					
					<label for="id_konsultasi">ID Konsultasi:</label>
					<input type="text" name="id_konsultasi" value = {{ id_konsultasi }} disabled>
					
					<label for="no_rekam_medis_pasien">Nomor Rekam Medis Pasien:</label>
					<input type="text" name="no_rekam_medis_pasien" value = {{ data_NRM }} disabled>

					<label for="biaya">Biaya:</label>
					<input type="text" name="biaya" value = {{ data_biaya }} disabled>

					<label for="id_transaksi">ID Transaksi:</label>
					<input type="text" name="id_transaksi" value = {{ data_IDT }} disabled>

					{{ form.as_p }}

					<button id="submit" class="btn btn-outline-dark btn-lg">UPDATE</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>