<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FORM PEMBUATAN TRANSAKSI</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<body>
	<section id= "contact">
  <br><br>
      <center>
            <h1>FORM PEMBUATAN TRANSAKSI</h1>
              <!-- <div class="line2" style="top: 1750px; left: 750px;width: 140px;"></div> -->
      </center><br><br>
      <div class="containerContact">
      	<center>>
            <form method="POST" class="post-form">
              {% csrf_token %}
              
              <label for="no_rekam_medis_pasien">No Rekam Medis:</label>
              <select id="no_rekam_medis_pasien" name="no_rekam_medis_pasien">
                <option value="none">none</option>
                {% for item in data1 %}
                <option value={{item.no_rekam_medis_pasien}}>{{item.no_rekam_medis_pasien}}</option>
                {% endfor %}
              </select>

              <button id="submit" class="btn btn-outline-dark btn-lg">SUBMIT</button>
            </form>
            <br><br>
            <a class="btn btn-outline-dark" href="rud-transaksi/"	>Pergi ke Halaman Daftar Transaksi</a>
    	</center>
    	<br><br>
      </div>  
    </section>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>