<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>DAFTAR TRANSAKSI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<br>
<center><h1>DAFTAR TRANSAKSI</h1></center>

<table id="myTable">
  <tr>
    <th>No.</th>
    <th>Tanggal</th>
    <th>Status</th>
    <th>Total Biaya</th>
    <th>Waktu Pembayaran</th>
    <th>Nomor Rekam Medis Pasien</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>1</td>
    <td>10 November 2008</td>
    <td>Sudah dibayar</td>
    <td>Rp 1508800</td>
    <td>14 November 2008, 2:24:20</td>
    <td>1234567</td>
  </tr>
  <tr>
    <td>2</td>
    <td>20 Januari 2018</td>
    <td>Sudah dibayar</td>
    <td>Rp 485500</td>
    <td>28 Januari 2018, 3:54:39</td>
    <td>2345678</td>
  </tr>
  <tr>
    <td>3</td>
    <td>9 November 2014</td>
    <td>Sudah dibayar</td>
    <td>Rp 1858800</td>
    <td>9 November 2014, 3:54:30</td>
    <td>3456789</td>
  </tr>
  <tr>
    <td>4</td>
    <td>7 Januari 2010</td>
    <td>Sudah dibayar</td>
    <td>Rp 320500</td>
    <td>16 Januari 2010, 16:31:30</td>
    <td>4567890</td>
  </tr>
  <tr>
    <td>5</td>
    <td>2 Agustus 2000</td>
    <td>Sudah dibayar</td>
    <td>Rp 358100</td>
    <td>2 Agustus 2000, 8:39:40</td>
    <td>1357913</td>
  </tr>
    <tr>
    <td>6</td>
    <td>25 November 2006</td>
    <td>Sudah dibayar</td>
    <td>Rp 1825600</td>
    <td>10 Desember 2006, 2:59:39</td>
    <td>2468024</td>
  </tr>
    <tr>
    <td>7</td>
    <td>21 Oktober 2015</td>
    <td>Sudah dibayar</td>
    <td>Rp 1084700</td>
    <td>28 Oktober 2015, 22:22:20</td>
    <td>1245780</td>
  </tr>
  <tr>
    <td>8</td>
    <td>5 Juni 2005</td>
    <td>Sudah dibayar</td>
    <td>Rp 1616900</td>
    <td>11 Juni 2005, 6:43:30</td>
    <td>1325897</td>
  </tr>
  <tr>
    <td>9</td>
    <td>24 Maret 2008</td>
    <td>Sudah dibayar</td>
    <td>Rp 868200</td>
    <td>26 Maret 2008, 16:23:30</td>
    <td>4567890</td>
  </tr>
  <tr>
    <td>10</td>
    <td>1 Maret 2006</td>
    <td>Sudah dibayar</td>
    <td>Rp 1636600</td>
    <td>4 Maret 2006, 21:06:40</td>
    <td>8765432</td>
  </tr>
    <tr>
    <td>11</td>
    <td>15 September 2016</td>
    <td>Sudah dibayar</td>
    <td>Rp 697000</td>
    <td>28 September 2016, 2:54:20</td>
    <td>7654321</td>
  </tr>
  <tr>
    <td>12</td>
    <td>20 Oktober 2012</td>
    <td>Sudah dibayar</td>
    <td>Rp 47200</td>
    <td>28 Oktober 2012, 21:22:39</td>
    <td>6543210</td>
  </tr>
  <tr>
    <td>13</td>
    <td>5 Juni 2005</td>
    <td>Sudah dibayar</td>
    <td>Rp 299300</td>
    <td>11 Juni 2005, 16:43:30</td>
    <td>5432109</td>
  </tr>
  <tr>
    <td>14</td>
    <td>10 Oktober 2008</td>
    <td>Sudah dibayar</td>
    <td>Rp 328800</td>
    <td>14 Oktober 2008, 16:31:30</td>
    <td>4321098</td>
  </tr>
  <tr>
    <td>15</td>
    <td>1 Agustus 2001</td>
    <td>Sudah dibayar</td>
    <td>Rp 142800</td>
    <td>2 Agustus 2001, 8:39:40</td>
    <td>3210987</td>
  </tr>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
