<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>DAFTAR TRANSAKSI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<br>
<center><h1>DAFTAR TRANSAKSI</h1></center>

<div class="table-responsive my-8 px-4 py-2">
    <table class="table table-active table-striped table_custom">
      <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Status</th>
            <th scope="col">Total Biaya</th>
            <th scope="col">Waktu Pembayaran</th>
            <th scope="col">Nomor Rekam Medis Pasien</th>
            <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
          {% for isi in data %}
          <tr>
            <td>{{ isi.id_transaksi }}</td>
            <td>{{ isi.tanggal }}</td>
            <td>{{ isi.status }}</td>
            <td>{{ isi.biaya }}</td>
            <td>{{ isi.waktu_bayar }}</td>
            <td>{{ isi.no_rekam_medis_pasien }}</td>
            <td>
                <a class="btn btn-outline-dark" href="/updatetransaksi/{{ isi.id_transaksi }}">Update</a>
                <a class="btn btn-danger" href="/deletetransaksi/{{ isi.id_transaksi }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
      </tbody>

    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
