<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>UPDATE TRANSAKSI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<br>
<center><h1>FORM UPDATE TRANSAKSI</h1></center>

<div class="text-center mt-4">
  <form method="POST" class="post-form">
    {% csrf_token %}

    <label for="id_transaksi">ID Transaksi:</label>
    <input type="text" name="id_transaksi" value = {{ id_transaksi }} disabled>

    <label for="biaya">Biaya:</label>
    <input type="text" name="biaya" value = {{ data_biaya }} disabled>
    
    <label for="no_rekam_medis_pasien">Nomor Rekam Medis Pasien:</label>
    <input type="text" name="no_rekam_medis_pasien" value = {{ data_NRM }} disabled>

    {{ form.as_p }}

    <button id="submit" class="btn btn-outline-dark btn-lg">UPDATE</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
