<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Jadwal</title>
  </head>
  <body>
    <h1>Jadwal</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Jadwal Layanan Poliklinik</th>
          <th scope="col">Hari</th>
          <th scope="col">Waktu Mulai</th>
          <th scope="col">Waktu Selesai</th>
          <th scope="col">Kapasitas</th>
          <th scope="col">Id Dokter</th>
          <th scope="col">Id Poliklinik</th>
        </tr>
      </thead>
      <tbody>
        {% for poli in listOfSched %}
          <tr>
              <th scope="row">{{ poli.id_jadwal_poliklinik }}</th>
              <td>{{ poli.hari }}</td>
              <td>{{ poli.waktu_mulai }}</td>
              <td>{{ poli.waktu_selesai }}</td>
              <td>{{ poli.kapasitas }}</td>
              <td>{{ poli.id_dokter }}</td>
              <td>{{ poli.id_poliklinik }}</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>