<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Daftar Layanan Poliklinik</title>
  </head>
  <body>
    <h1>Daftar Layanan Poliklinik</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID Layanan Poliklinik</th>
            <th scope="col">Nama</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Kode RS Cabang</th>
            <th scope="col">Jadwal Poliklinik</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for kodePoli in list %}
            <tr>
                <th scope="row">{{ kodePoli }}</th>
                {% for key, value in list.items %}
                {% if kodePoli == key %}
                {% for item in value %}
                <td>{{ item }}</td>
                {% endfor %}
                {% endif %}
                {% endfor %}
                <td>
                  <a class="btn btn-primary" href="orderPoli-admin/pesan?kodePoli={{kodePoli}}">Jadwal hari ini</a>
                </td>
                <td>
                  <a href="poli/update?kodePoli={{kodePoli}}">update</a>
                  <a href="poli/delete?kodePoli={{kodePoli}}">delete</a>
                </td>
              </tr>
              {% endfor %}
        </tbody>
      </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>