<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FORM UPDATE LAYANAN POLIKLINIK</title>
  </head>
  <body>
    <h1>FORM UPDATE LAYANAN POLIKLINIK</h1>
    <p>ID Poliklinik: {{ poliklinik.id_poliklinik }}</p>
    <p>Nama: {{ poliklinik.nama }}</p>
    <p>Deskripsi: {{ poliklinik.deskripsi }}</p>
    <form method="post" actions="/submit-daftar-dokter-rs/">
        {% csrf_token%}
        <p hidden>
            <label for='id_id_poliklinik'></label>
            <input value='{{ poliklinik.getId }}'>
        </p>
        <p>
            <label for='id_rs_cabang'>RS Cabang</label>
            <select id='id_rs_cabang' name='rs_cabang'>
              {% for kode in listKodeRs %}
                <option value="200001">{{ kode }}</option>
              {% endfor %}
            </select>
        </p>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>