<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Daftar Tindakan Poliklinik</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="padding: 20px;">
	<div class = "bodytpoli">
		<div class="col-12 justify-content-center">
      <h1 class="d-flex justify-content-center">USER PROFILE</h1> 
      <a class="btn btn-primary" href="/">Home</a>
            <p>Nomor Identitas</p>
            <p>Nama Lengkap</p>
            <p>Tanggal Lahir</p>
            <p>Email</p>
            <p>Alamat</p>
		</div>

	</div>
</body>
</html>