<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Daftar Tindakan</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="padding: 20px;">
	<div class = "bodytindakan">
		<div class="col-12 justify-content-center">
      <h1 class="d-flex justify-content-center">DAFTAR TINDAKAN</h1> 
      <a class="btn btn-primary" href="/">Home</a>
        <a class="btn btn-primary" href="/tindakan/">Buat Tindakan</a>
            <div class="table-responsive my-8 px-4 py-2">
                <table class="table table-active table-striped table_custom">
                  <thead>
                    <tr>
                        <th scope="col" class="header one">ID Konsultasi</th>
                        <th scope="col" class="header two">Nomor Urut</th>
                        <th scope="col" class="header three">Biaya</th>
                        <th scope="col" class="header four">Catatan</th>
                        <th scope="col" class="header five">ID Transaksi</th>
                        <th scope="col" class="header six">Daftar ID Tindakan Poli</th>
                        <th scope="col" class="header seven">Action</th>
                    </tr>
                  </thead>
          
                  <tbody>
                      {% for isi in listform %}
                      <tr>
                        <td class="styletindakan">{{ isi.id_konsultasi }}</td>
                        <td class="styletindakan">{{ isi.no_urut }}</td>
                        <td class="styletindakan">{{ isi.biaya }}</td>
                        <td class="styletindakan">{{ isi.catatan }}</td>
                        <td class="styletindakan">{{ isi.id_transaksi }}</td>
                        <td class="styletindakan">{{ isi.daftar_id_tpoli1, isi.daftar_id_tpoli2,  isi.daftar_id_tpoli3, isi.daftar_id_tpoli4, isi.daftar_id_tpoli5 }}</td>
                        <td class="styletindakan">
                            <td><a class="btn btn-primary" href="/updatetindakan/">Update</a>
                                <a class="btn btn-primary" href="/daftartindakan/">Delete</a></td> 
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
          
                </table>
            </div>

		</div>

	</div>
</body>
</html>