<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Daftar Tindakan Poliklinik</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="padding: 20px;">
	<div class = "bodytpoli">
		<div class="col-12 justify-content-center">
      <h1 class="d-flex justify-content-center">DAFTAR TINDAKAN POLIKLINIK</h1> 
      <a class="btn btn-primary" href="/">Home</a>
        <a class="btn btn-primary" href="/tindakanpoli/">Buat Tindakan Poli</a>
            <div class="table-responsive my-8 px-4 py-2">
                <table class="table table-active table-striped table_custom">
                  <thead>
                    <tr>
                        <th scope="col" class="header one">ID Tindakan Poli</th>
                        <th scope="col" class="header two">ID Poliklinik</th>
                        <th scope="col" class="header three">Nama Tindakan</th>
                        <th scope="col" class="header four">Deskripsi</th>
                        <th scope="col" class="header five">Tarif</th>
                        <th scope="col" class="header six">Action</th>
                    </tr>
                  </thead>
          
                  <tbody>
                      {% for isi in listform %}
                      <tr>
                        <td class="styletpoli">{{ isi.id_tindakan_poli }}</td>
                        <td class="styletpoli">{{ isi.id_poliiklinik }}</td>
                        <td class="styletpoli">{{ isi.nama_tindakan }}</td>
                        <td class="styletpoli">{{ isi.deskripsi }}</td>
                        <td class="styletpoli">{{ isi.tarif }}</td>
                        <td class="styletpoli">
                            <td><a class="btn btn-primary" href="/updatetpoli/">Update</a>
                                <a class="btn btn-primary" href="/daftartpoli/">Delete</a></td> 
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
          
                </table>
            </div>

		</div>

	</div>
</body>
</html>