<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Update Tindakan</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="padding: 20px;">
	<div class = "bodytindakan">
		<div class="col-12 justify-content-center">
			<h1 class="d-flex justify-content-center">FORM UPDATE TINDAKAN</h1> 
			<a class="btn btn-primary" href="/">Home</a>
			<div class="text-center mt-4">
                <p>id_konsultasi: 1</p>
                <p>no_urut: 1</p>
                <p>biaya: 50000</p>
                <p>daftar_id_tpoli: 500005</p>
				<form method="POST" class="post-form">
					{% csrf_token %}
                    {{ form.as_p }}
				</form>
				<a class="btn btn-primary" href="updatetindakan/daftartindakan/">Update</a>
			</div>
		</div>

	</div>
</body>
</html>